{% load static %}
{% static "images" as baseURL %}


<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'images/favicon.ico' %}">

    <link href="{% static 'https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap' %}" rel="stylesheet">

    <title>About Hotel Star</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.css' %}">

  </head>

  <body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->

    <!-- Header -->
    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="/"><h2>Restaurant <em>Website</em></h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home
                      <span class="sr-only">(current)</span>
                    </a>
                </li> 

                <!-- <li class="nav-item"><a class="nav-link" href="book-table.html">Book A Table</a></li> -->

                {%if user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="menu">Menu</a></li>
                <li class="nav-item  "><a class="nav-link" href="cart">Cart</a></li>
                <li class="nav-item  "><a class="nav-link" href="order">Orders</a></li>
                {% endif %}

                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">More</a>
                    
                    <div class="dropdown-menu">
                      <a class="dropdown-item active" href="#">About Us</a>
                      <!-- <a class="dropdown-item" href="blog.html">Blog</a> -->
                      <a class="dropdown-item" href="chefs">Chefs</a>
                    </div>
                </li>
                
                <li class="nav-item"><a class="nav-link" href="contactus">Contact Us</a></li>

                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Hi, {{user.username}}</a>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="accounts/custLogout">Logout</a>
                        <!-- <a class="dropdown-item" href="accounts/Cust">As Customer</a> -->
                      </div>
                    </li>
                {% else %}
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Sign in</a>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="/admin">As Chef</a>
                        <a class="dropdown-item" href="/accounts/custLogin">As Customer</a>
                      </div>
                    </li>
                {%endif%}
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <!-- Page Content -->
    <div class="page-heading about-heading header-text" style="background-image: url('/static/images/heading-1-1920x500.jpg')">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-content">
              <h4>about us</h4>
              <h2>our restaurant</h2>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="best-features about-features">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Welcome to our Restaurant</h2>
            </div>
          </div>
          <div class="col-md-6">
            <div class="right-image">
              <img src="{% static 'images/about-1-570x350.jpg' %}" alt="">
            </div>
          </div>
          <div class="col-md-6">
            <div class="left-content">
              <h4>WHO WE ARE.</h4>
              <p>Around here ,we don't settle for anything less than food we're proud to serve.And we don't just clock in.we're the restaurant company that lives life unboxed.<br><br>we're not the people who blend in pushing boundaries is part of our heritage but we never stop driving ourselves to deliver dishes,fast every time and we want you enjoying it.</p>
              <ul class="social-icons">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-behance"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    
    <div class="team-members">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>WHAT WE'RE ABOUT.</h2>
            </div>

            <h5>WHAT WE'RE ABOUT.</h5>

            <p>At our restaurant we don't just make recipies.We make people happy.Our restaurant was built on the belief that every dishes should be special and we carry that belief into everything we do.<br><br>We create food we're proud to serve and deliver it fast,with a smile.With more than than 55 years of experience under our belts,we understand how to best serve our customers through tried and true service principles.</p>

            <p>Paying tribute to the people ,land and culture we hightlights our nations's flavours and ingredients through seosonal tasting menus.<br><br>Enjoy our dazzling dishes and make the most of your eating background with us!!!!</p>
          </div>
        </div>
      </div>
    </div>

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="inner-content">
              <p>Copyright © 2021 GSSSIETW - Template by:  <a href="{% static 'http://geethashishu.in/' %}">geethashishu.in</a></p>
            </div>
          </div>
        </div>
      </div>
    </footer>


    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'jquery/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>


    <!-- Additional Scripts -->
    <script src="{% static 'js/custom.js' %}"></script>
    <script src="{% static 'js/owl.js' %}"></script>
  </body>

</html>
