{% load static %}

<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'images/favicon.ico' %}">
    <link href="{% static 'https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap' %}" rel="stylesheet">

    <script src="{% static 'https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js' %}" charset="utf-8"></script>

    <title>Your Cart</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static '/css/owl.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>


    <style>
        img{
            height:80px; 
            width:80px;
        }
    </style>

  </head>

  <body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->

    <!-- Header -->
    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="/"><h2>Restaurant <em>Website</em></h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home
                      <span class="sr-only">(current)</span>
                    </a>
                </li> 

                {%if user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="menu">Menu</a></li>
                <li class="nav-item active "><a class="nav-link" href="#">Cart  <span class="badge badge-info">{{request.session.cart.keys|length}}</span></a></li>
                <li class="nav-item "><a class="nav-link" href="order">Orders</a></li>
                {% endif %}

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">More</a>
                    
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="aboutus">About Us</a>
                      <a class="dropdown-item" href="chefs">Chefs</a>
                      <a class="dropdown-item" href="contactus">Contact us</a>
                    </div>
                </li>
                
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Hi, {{user.username}}</a>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="custLogout">Logout</a>
                        <!-- <a class="dropdown-item" href="accounts/Cust">As Customer</a> -->
                      </div>
                    </li>
                {% else %}
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Sign in</a>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="admin">As Chef</a>
                        <a class="dropdown-item" href="accounts/custLogin">As Customer</a>
                      </div>
                    </li>
                {%endif%}

            </ul>
          </div>
        </div>
      </nav>
    </header>

    
<div class="send-message">
    {% load cart %}
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>Send us a Message</h2>
          </div>
        </div>
        <div class="col-md-8">
          <div class="contact-form">

            <div class="border rounded p-4 m-4">
                <p class="display-4">CART</p>
                <hr>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Sno.</th>
                            <th>Images</th>
                            <th>Product</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for fd in foods %}
                        <tr>
                            <td >{{forloop.counter}}</td>
                            <td><img src="{{fd.food_img.url}}"  class="rounded-circle" alt="..."></td>
                            <td>{{fd.food_name}}</td>
                            <td>{{fd.food_price}}</td>
                            <td>{{fd|cart_quantity:request.session.cart}}</td>
                            <td>{{fd|price_total:request.session.cart}}</td>
                        </tr>
                        {% endfor %}

                    </tbody>

                    <tfoot>
                        <tr>
                            <th colspan="4"></th>
                            <th  colspan="">Total</th>
                            <th>{{foods|total_cart_price:request.session.cart}}/-</th>
                        </tr>
                    </tfoot>
                    
                </table>
                <hr>
                <div class="m-3 p-3">
                    <!-- <a href="#" class = "btn btn-outline-info border rounded col-lg-3 float-right" data-bs-toggle="modal" data-bs-target="#exampleModal">Check out</a> -->
                    <!-- <a href="paymentRazor" class = "btn btn-outline-info border rounded col-lg-3 float-right" >Check out</a> -->
                    <form action="/checkout" method="POST">
                      {% csrf_token %}
                      <br>
                      <input  class="btn btn-outline-info border rounded col-lg-3 float-right" type="submit" value = "Check out">
                    </form>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>


<!-- Modal -->
<!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Check Out</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <br>
      <br>
      <br>
      <div class="modal-body">
        <form action="/checkout" method="POST">
          {% csrf_token %}
          <br>
          <br>
          Pay {{foods|total_cart_price:request.session.cart}}
          <input  type="submit" class="btn float-right btn-outline-info col-lg-2"  value="Make Payment">
        </form>
      </div> -->
      <!-- <div class="modal-footer"> -->
        <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
        <!-- <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Confirm</button>
      </div> -->
    <!-- </div>
  </div>
</div> -->


<!-- Bootstrap core JavaScript -->
<script src="{% static 'jquery/jquery.min.js' %}"></script>
<script src="{% static '/bootstrap/js/bootstrap.bundle.min.js' %}"></script>


 <!-- Additional Scripts -->
 <script src="{% static 'js/custom.js' %}"></script>
 <script src="{% static 'js/owl.js' %}"></script>



</body>

</html>