{% extends 'base.html' %}
{% load static %}
{% static "images" as baseURL %}


{% block content %}
    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="banner header-text">
      <div class="owl-banner owl-carousel">
        <div class="banner-item-01" style="background-image: url( '/static/images/abc8.jpeg' )">
          <div class="text-content">
            <h4 style="color: white;">WELCOME TO THE GRILL HOUSE CAFE</h4>
            <h2 style="color: #f33f3f;">Healthy, Fresh, Fire Grill!!</h2>
          </div>
        </div>
        <div class="banner-item-02" style="background-image: url( '/static/images/abc10.jpeg' )">
          <div class="text-content">
            <h4 style="color: #f33f3f;">Power Hungry</h4>
            <h2>All-new catering menu featuring a 'Build your own buffet'</h2>
          </div>
        </div>
        <div class="banner-item-03" style="background-image: url( '/static/images/abc9.jpeg' )">
          <div class="text-content">
            <h4 style="color: black;">Season the moment</h4>
            <h2 style="color: black;">Unexpected flavors forged from nature and mingled with flourish</h2>
          </div>
        </div>
      </div>
    </div>
    <!-- Banner Ends Here -->

    <div class="latest-products">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Events</h2>
            </div>
          </div>
          
          {% for evt in evnts %}
          <div class="col-md-4">
            <div class="product-item">
              <img src="{{evt.event_img.url}}" alt="">
              <div class="down-content">
                <h4>{{evt.event_name}}</h4>

                <p>{{evt.event_desc}}</p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="best-features">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">About Us</h2>
            </div>
          </div>
          <div class="col-md-6">
            <div class="left-content">
              <p>Grill House Cafe is among the best grilled food cafe in Mysuru . <br>If you are looking for a different dining experience, come in today and taste some of the most delicious grilled  plates in town.  <br>Try our salads  and grilled pizzas They are simply the best you can find in San Diego. Our friendly staff is awaiting here to greet you. <br>Ask for details about our menu.

                Fresh ingredients and tasty foods at locals favorite The Grill House Cafe. <br>If you are craving some grilled tender and juicy kabobs, basmati rice cooked to perfection, make a reservation and come in today.</p>
              <a href="aboutus" class="filled-button">Read More</a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="right-image">
              <img src="{% static 'images/about-1-570x350.jpg' %}" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>

    

    <div class="happy-clients">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Happy Clients</h2>

              <a href="chefs">read more <i class="fa fa-angle-right"></i></a>
            </div>
          </div>
          <div class="col-md-12">
            <div class="owl-clients owl-carousel text-center">
              <div class="service-item">
                <div class="icon">
                  <i class="fa fa-user"></i>
                </div>
                <div class="down-content">
                  <h4>Jessy</h4>
                  <p class="n-m"><em>"Eat, drink, visit."</em></p>
                </div>
              </div>
              
              <div class="service-item">
                <div class="icon">
                  <i class="fa fa-user"></i>
                </div>
                <div class="down-content">
                  <h4>Jane Smith</h4>
                  <p class="n-m"><em>"Well-suits tagline: Unexpected flavors forged from nature and mingled with flourish"</em></p>
                </div>
              </div>
              
              <div class="service-item">
                <div class="icon">
                  <i class="fa fa-user"></i>
                </div>
                <div class="down-content">
                  <h4>Antony Davis</h4>
                  <p class="n-m"><em>"Good food is a good mood and they serve it well"</em></p>
                </div>
              </div>
              
              <div class="service-item">
                <div class="icon">
                  <i class="fa fa-user"></i>
                </div>
                <div class="down-content">
                  <h4>John Doe</h4>
                  <p class="n-m"><em>"Delicious food and excellent hospitality"</em></p>
                </div>
              </div>
              
              <div class="service-item">
                <div class="icon">
                  <i class="fa fa-user"></i>
                </div>
                <div class="down-content">
                  <h4>Jane Smith</h4>
                  <p class="n-m"><em>"When the guest arrives, they give him an experience that's ahead of what he anticipates."</em></p>
                </div>
              </div>
              
              <div class="service-item">
                <div class="icon">
                  <i class="fa fa-user"></i>
                </div>
                <div class="down-content">
                  <h4>Antony Davis</h4>
                  <p class="n-m"><em>"The best place to kick off your day or just take a break and enjoy a yummy breakfast."</em></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="call-to-action">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="inner-content">
              <div class="row">
                <div class="col-md-8">
                  <h4>Grill House Cafe is among the best grilled food cafe in Mysuru .</h4>
                  <p>If you are looking for a different dining experience, come in today and taste some of the most delicious grilled  plates in town.</p>
                </div>
                <div class="col-lg-4 col-md-6 text-right">
                  <a href="contactus" class="filled-button">Contact Us</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

 {% endblock %}   
    