{% load static %}
{% static "images" as baseURL %}

<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'images/favicon.ico' %}">
    <link href="{% static 'https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap' %}" rel="stylesheet">

    <title>Hotel Contacts</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.css' %}">

  </head>

  <body>

    <!-- ** Preloader Start ** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ** Preloader End ** -->

    <!-- Header -->
    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="index.html"><h2>Restaurant <em>Website</em></h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home
                      <span class="sr-only">(current)</span>
                    </a>
                </li> 

                
                {%if user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="menu">Menu</a></li>
                <li class="nav-item "><a class="nav-link" href="cart">Cart</a></li>
                <li class="nav-item "><a class="nav-link" href="order">Orders</a></li>
                {% endif %}
                

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">More</a>
                    
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="aboutus">About Us</a>
                      <!-- <a class="dropdown-item" href="blog.html">Blog</a> -->
                      <a class="dropdown-item" href="chefs">Chef</a>
                    </div>
                </li>
                
                <li class="nav-item active"><a class="nav-link" href="#">Contact Us</a></li>

                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Hi, {{user.username}}</a>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="custLogout">Logout</a>
                        <!-- <a class="dropdown-item" href="accounts/Cust">As Customer</a> -->
                      </div>
                    </li>
                {% else %}
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Sign in</a>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="/admin">As Chef</a>
                        <a class="dropdown-item" href="/accounts/custLogin">As Customer</a>
                      </div>
                    </li>
                {%endif%}


            </ul>
          </div>
        </div>
      </nav>
    </header>


    <br><br><br>
    <br><br>
    {% load cart %}
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Total Payable Amount: <b>{{foods|total_cart_price:request.session.cart}}/-</b>
              <!-- <h2>Total Payable Amount: <b>{% widthratio final_price 1 100 %}/-</b> -->
              <form action="/checkout" method="POST">
                {% csrf_token %}
                <br><br>
                <input  type="submit" class="btn  btn-outline-info col-lg-2"  value="Confirm Order">
                <button id="rzp-button1" class="btn  btn-outline-info col-lg-2" type="button">Pay Now</button>
              </form>
            </h2>
            </div>
          </div>
          <!-- <div class="col-md-4">
            <div class="center-content">
              <h4>{{foods|total_cart_price:request.session.cart}}/-</h4>
              <p>Star hotel provides a best quality of food and services.Our hotel is unique compared to other hotel interms of infrastructure ,fast foodservice ,management etc.
                It provides user friendly platform for placing orders at there fingertips.
              </p>
              <form action="/checkout" method="POST">
                {% csrf_token %}
                <br>
                <br>
                <input  type="submit" class="btn float-right btn-outline-info col-lg-6"  value="Make Payment">
              </form>
            </div>
        </div> -->
      </div>
    </div>


    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script>
      var options = {
        "key": "{{razorpay_merchant_id}}", // Enter the Key ID generated from the Dashboard
        "amount": "{% widthratio final_price 1 100 %}", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
        "currency": "INR",
        "name": "Star Hotel",
        "description": "Test Transaction",
        "order_id": "{{order_id}}", //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
        "callback_url": "{{callback_url}}",
        "prefill": {
          "name": "{{request.user.name}}",
          "email": "{{request.user.email}}",
          "contact": "+91" + "{{request.user.phone}}"
        },
        "theme": {
          "color": "#2BA977"
        }
      };
      var rzp1 = new Razorpay(options);
      document.getElementById('rzp-button1').onclick = function (e) {
        rzp1.open();
        e.preventDefault();
      }
    </script>



<br><br><br><br>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="inner-content">
              <p>Copyright © 2021 GSSSIETW - Template by: <a href="{%static 'http://geethashishu.in/'%}">geethashishu.in</a></p>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'jquery/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>


    <!-- Additional Scripts -->
    <script src="{% static 'js/custom.js' %}"></script>
    <script src="{% static 'js/owl.js' %}"></script>
  </body>

</html>

